{% extends "base.html" %}
{% block page_title %}Passwords{% endblock %}

{% block page_content %}
    <p><label for="id_unlock_phrase">Unlock Phrase:</label><input id="id_unlock_phrase" type="password" name="unlock_phrase" placeholder="Unlock phrase"/></p>
    <p><label for="id_passphrase">Passphrase:</label><input id="id_passphrase" type="password" name="passphrase" value="{{ object.decry_passphrase }}" readonly/><button id="copy-button">Copy</button></p>

{% endblock %}

{% block body_bottom %}
<script src="{{ url_for('static', filename='js/aes.js') }}"></script>
<script type="text/javascript">
var phrasebox = document.getElementsByName('passphrase')[0];

document.getElementById('copy-button').addEventListener('click', function(event) {
    window.prompt ("Copy to clipboard: Ctrl+C, Enter", phrasebox.value);
});

phrasebox.setAttribute('data-rawpassphrase', phrasebox.value);

document.getElementsByName('unlock_phrase')[0].addEventListener('keyup', function(event) {
    var decryptedString = CryptoJS.AES.decrypt(phrasebox.getAttribute('data-rawpassphrase'), document.getElementsByName('unlock_phrase')[0].value).toString(CryptoJS.enc.Utf8);
    if (decryptedString) {
        // update server to decrement count
        // updateCount(window.location, 'decrypted', function(string, code){
        updateCount(window.location, '{"decrypted": true}', function(string, code){
            if (code == 200) {
                phrasebox.value = decryptedString;
            }
        });
        // create new xmlhttprequest (see MDN, like )
    } else {
        phrasebox.value = '';
    }
});



function updateCount(url, body, callbackFunction) {
    //adapted from http://microajax.googlecode.com/svn/trunk/microajax.js

    this.bindFunction = function (caller, object) {
        return function() {
            return caller.apply(object, [object]);
        };
    };

    this.stateChange = function (object) {
        if (this.request.readyState==4)
            this.callbackFunction(this.request.responseText, this.request.status);
    };

    this.getRequest = function() {
        if (window.ActiveXObject)
            return new ActiveXObject('Microsoft.XMLHTTP');
        else if (window.XMLHttpRequest)
            return new XMLHttpRequest();
        return false;
    };

    this.callbackFunction=callbackFunction;
    this.url=url;
    this.request = this.getRequest();

    if(this.request) {
        var req = this.request;
        req.onreadystatechange = this.bindFunction(this.stateChange, this);

        req.open("PATCH", url, true);
        req.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    // req.setRequestHeader('Connection', 'close');

        req.send(body);
    }
}


</script>
{% endblock %}
