<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block page_title %}{% endblock %} | Mitgr81.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  </head>
    <body class="container">
    {% block page_content %}{% endblock %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    {% block body_bottom %}{% endblock %}
  </body>
</html>
